<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta property="fb:app_id" content="<%= Settings.facebook.app_id %>" />
  <% if Rails.env.production? %>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <% end %>
  <%= render 'common/favicon' %>

  <%= display_meta_tags %>

  <!-- LOAD GOOGLE FONTS -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600%7CRaleway:100,300,600,700,800" rel="stylesheet" type="text/css" />

  <%= stylesheet_link_tag  'application', media: 'all' %>

  <!-- LD JSON -->
  <script type="application/ld+json">
    <%# render('schemas/main.json').html_safe %>
  </script>

  <%= analytics_init if GoogleAnalytics.valid_tracker? %>

  <%= csrf_meta_tags %>

  <%= render_user_google_analytics_snippet %>
</head>
<body class="wide" data-animation-icon-path="/images/">
  <!-- WRAPPER -->
  <div class="wrapper">
    <%= render 'common/header' %>

    <%= yield %>
  </div>
  <%= render 'common/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= render 'common/facebook_sdk' %>
</body>
</html>
